.SideBarDiv {
  background-color: white;
  border: 2px solid;
  border-left: 0px;
}

.sideHamburgerDiv {
  height: 27px;
  margin-top: 10.8px;
  margin-right: 10px;
  margin-bottom: 13px;
  margin-left: 25px;

  display: flex;
}

.sidemenu {
  font-size: 20px;
  font-weight: bold;
  border-top: 1px solid;
  padding: 5px 20px;
  height: 38px;

  display: flex;
  align-items: center;
  cursor: pointer;

  margin: 3px 0px;
}

.sidemenuLast {
  border-bottom: 1px solid;
}
